In [3]:
def dollar_to_int(dollar):
    return int(dollar.replace('$', "").replace(',', ""))

In [4]:
import locale
def int_to_dollar(x):
    return locale.currency(x, grouping=True)

In [1]:
import ast

In [2]:
ast.literal_eval("1,525.2")

(1, 525.2)

In [5]:
int(68474.2)

68474

In [ ]:
dfmoney2['profit_over_production'] = dfmoney2.apply(lambda row: row['worldwide_gross'] - row['production_budget'] if (row['worldwide_gross'] > 0) & (row['production_budget'] > 0) else 0, axis = 1)

In [ ]:
dfmoney2.index = range(len(dfmoney.index))

In [1]:
import functions as fun
from importlib import reload

In [34]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5169 entries, tt0249516 to tt9906218
Data columns (total 17 columns):
studio               3347 non-null object
domestic_gross       5169 non-null float64
foreign_gross        5169 non-null float64
year                 3350 non-null float64
release_date         3395 non-null object
production_budget    5169 non-null float64
worldwide_gross      5169 non-null float64
start_year           5169 non-null float64
runtime_minutes      4717 non-null float64
genres               5169 non-null object
averagerating        4235 non-null float64
numvotes             4235 non-null float64
movie_name           5169 non-null object
genresList           5169 non-null object
writerCount          5169 non-null int64
directorCount        5169 non-null int64
genresCount          5169 non-null int64
dtypes: float64(9), int64(3), object(5)
memory usage: 886.9+ KB

In [37]:
df2.head()

,studio,domestic_gross,foreign_gross,year,release_date,production_budget,worldwide_gross,start_year,runtime_minutes,genres,averagerating,numvotes,movie_name,genresList,writerCount,directorCount,genresCount
tt0249516,NaN,0.0,73706.0,NaN,"Dec 31, 2012",45000000.0,73706.0,2012.0,91.0,"Action,Animation,Comedy",1.9,8248.0,Foodfight!,"[Action, Animation, Comedy]",5,1,3
tt0293429,NaN,70433227.0,51700000.0,NaN,"Aug 18, 1995",20000000.0,122133227.0,2021.0,NaN,"Action,Adventure,Fantasy",NaN,NaN,Mortal Kombat,"[Action, Adventure, Fantasy]",1,1,3
tt0315642,Relbig.,1100000.0,0.0,2016.0,NaN,0.0,1100000.0,2016.0,103.0,"Action,Crime,Drama",7.1,15378.0,Wazir,"[Action, Crime, Drama]",8,1,3
tt0337692,IFC,744000.0,8000000.0,2012.0,"Mar 22, 2013",25000000.0,9313302.0,2012.0,124.0,"Adventure,Drama,Romance",6.1,37886.0,On the Road,"[Adventure, Drama, Romance]",2,1,3
tt0359950,Fox,58200000.0,129900000.0,2013.0,"Dec 25, 2013",91000000.0,187861183.0,2013.0,114.0,"Adventure,Comedy,Drama",7.3,275300.0,The Secret Life of Walter Mitty,"[Adventure, Comedy, Drama]",2,1,3

In [22]:
import pymongo
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [52]:
%store -r df2

In [5]:
def getGenreInfo(keyword, df):    
    allInfo = {}
    title = []
    genre = []
    domestic_gross = []
    foreign_gross = []
    worldwide_gross = []
    production_budget = []
    for i in df.index:
        
        if any(keyword in g for g in df['genresList'][i]):
            genre.append(keyword)
            title.append(df['movie_name'][i])
            domestic_gross.append(df['domestic_gross'][i])
            foreign_gross.append(df['foreign_gross'][i])
            worldwide_gross.append(df['worldwide_gross'][i])
            production_budget.append(df['production_budget'][i])
        allInfo.update({'Title' : title,
                        'Genre' : genre,
                        'Domestic Gross' : domestic_gross,
                        'Foreign Gross' : foreign_gross,
                        'Worldwide Gross' : worldwide_gross,
                        'Production Budget' : production_budget})
    return allInfo

NameError: name 'getGenreInfo' is not defined

In [5]:
action = pd.DataFrame(fun.getGenreInfo('Action', df2))

In [10]:
action.head()

,Title,Genre,Domestic Gross,Foreign Gross,Worldwide Gross,Production Budget
0,Foodfight!,Action,0,73706,73706,4.5e+07
1,Mortal Kombat,Action,7.04332e+07,5.17e+07,1.22133e+08,2e+07
2,Wazir,Action,1.1e+06,0,1.1e+06,0
3,A Walk Among the Tombstones,Action,2.63e+07,2.69e+07,6.21086e+07,2.8e+07
4,Jurassic World,Action,6.523e+08,1019.4,1.64885e+09,2.15e+08

In [33]:
action.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 6 columns):
Title                935 non-null object
Genre                935 non-null object
Domestic Gross       935 non-null object
Foreign Gross        935 non-null object
Worldwide Gross      935 non-null object
Production Budget    935 non-null object
dtypes: object(6)
memory usage: 44.0+ KB

In [53]:
df3 = df2
df3['genresCount'] = fun.countNewCol(df3, 'genresList')

In [54]:
df3 = df3.reset_index()

In [55]:
df3.head()

,index,studio,domestic_gross,foreign_gross,year,release_date,production_budget,worldwide_gross,start_year,runtime_minutes,genres,averagerating,numvotes,movie_name,genresList,writerCount,directorCount,genresCount
0,tt0249516,NaN,0.0,73706.0,NaN,"Dec 31, 2012",45000000.0,73706.0,2012.0,91.0,"Action,Animation,Comedy",1.9,8248.0,Foodfight!,"[Action, Animation, Comedy]",5,1,3
1,tt0293429,NaN,70433227.0,51700000.0,NaN,"Aug 18, 1995",20000000.0,122133227.0,2021.0,NaN,"Action,Adventure,Fantasy",NaN,NaN,Mortal Kombat,"[Action, Adventure, Fantasy]",1,1,3
2,tt0315642,Relbig.,1100000.0,0.0,2016.0,NaN,0.0,1100000.0,2016.0,103.0,"Action,Crime,Drama",7.1,15378.0,Wazir,"[Action, Crime, Drama]",8,1,3
3,tt0337692,IFC,744000.0,8000000.0,2012.0,"Mar 22, 2013",25000000.0,9313302.0,2012.0,124.0,"Adventure,Drama,Romance",6.1,37886.0,On the Road,"[Adventure, Drama, Romance]",2,1,3
4,tt0359950,Fox,58200000.0,129900000.0,2013.0,"Dec 25, 2013",91000000.0,187861183.0,2013.0,114.0,"Adventure,Comedy,Drama",7.3,275300.0,The Secret Life of Walter Mitty,"[Adventure, Comedy, Drama]",2,1,3

In [14]:
sampledf = df3.loc[df3['genresCount'] == 1]

In [19]:
sampledf['genres'].nunique()

21

In [16]:
genreList = list(sampledf['genres'].unique())

In [17]:
genreList

['Drama',
 'Comedy',
 'Documentary',
 'Musical',
 'Horror',
 'Action',
 'Thriller',
 'Sci-Fi',
 'Fantasy',
 'Western',
 'Animation',
 'Romance',
 'Family',
 'Biography',
 'Crime',
 'War',
 'Music',
 'Adventure',
 'Sport',
 'Mystery',
 'History']

In [48]:
reload(fun)

In [56]:
Genredf = pd.concat(fun.toConcat(df3))

In [57]:
Genredf.head()

,Title,Genre,Domestic_Gross,Foreign_Gross,Worldwide_Gross,Production_Budget,Director_Count,Writer_Count
0,Wazir,Drama,1100000.0,0.0,1100000.0,0.0,1,8
1,On the Road,Drama,744000.0,8000000.0,9313302.0,25000000.0,1,2
2,The Secret Life of Walter Mitty,Drama,58200000.0,129900000.0,187861183.0,91000000.0,1,2
3,A Walk Among the Tombstones,Drama,26300000.0,26900000.0,62108587.0,28000000.0,1,2
4,Spy,Drama,110800000.0,124800000.0,235600000.0,0.0,1,3

In [58]:
Genredf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10917 entries, 0 to 189
Data columns (total 8 columns):
Title                10917 non-null object
Genre                10917 non-null object
Domestic_Gross       10917 non-null float64
Foreign_Gross        10917 non-null float64
Worldwide_Gross      10917 non-null float64
Production_Budget    10917 non-null float64
Director_Count       10917 non-null int64
Writer_Count         10917 non-null int64
dtypes: float64(4), int64(2), object(2)
memory usage: 767.6+ KB

In [32]:
Genredf['Domestic Gross'].value_counts()

0.0                           365
1800000.0                      72
1300000.0                      70
1000000.0                      66
1100000.0                      61
                             ...
[246734314.0, 217350219.0]      1
[177397510.0, 15433.0]          1
30600.0                         1
[1500000.0, 1500000.0]          1
[177397510.0, 15433.0]          1
Name: Domestic Gross, Length: 2931, dtype: int64

In [59]:
%store Genredf

Stored 'Genredf' (DataFrame)