In [3]:
def dollar_to_int(dollar):
    return int(dollar.replace('$', "").replace(',', ""))

In [4]:
import locale
def int_to_dollar(x):
    return locale.currency(x, grouping=True)

In [1]:
import ast

In [2]:
ast.literal_eval("1,525.2")

(1, 525.2)

In [5]:
int(68474.2)

68474

In [ ]:
dfmoney2['profit_over_production'] = dfmoney2.apply(lambda row: row['worldwide_gross'] - row['production_budget'] if (row['worldwide_gross'] > 0) & (row['production_budget'] > 0) else 0, axis = 1)

In [ ]:
dfmoney2.index = range(len(dfmoney.index))

In [11]:
import functions as fun
from importlib import reload

In [2]:
df2.info()

NameError: name 'df2' is not defined

In [8]:
import pymongo
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
%store -r df2

In [5]:
def getGenreInfo(keyword, df):    
    allInfo = {}
    title = []
    genre = []
    domestic_gross = []
    foreign_gross = []
    worldwide_gross = []
    production_budget = []
    for i in df.index:
        
        if any(keyword in g for g in df['genresList'][i]):
            genre.append(keyword)
            title.append(df['movie_name'][i])
            domestic_gross.append(df['domestic_gross'][i])
            foreign_gross.append(df['foreign_gross'][i])
            worldwide_gross.append(df['worldwide_gross'][i])
            production_budget.append(df['production_budget'][i])
        allInfo.update({'Title' : title,
                        'Genre' : genre,
                        'Domestic Gross' : domestic_gross,
                        'Foreign Gross' : foreign_gross,
                        'Worldwide Gross' : worldwide_gross,
                        'Production Budget' : production_budget})
    return allInfo

In [6]:
getGenreInfo('Action', df2)

{'Title': ['Foodfight!',
  'Mortal Kombat',
  'Wazir',
  'A Walk Among the Tombstones',
  'Jurassic World',
  'Spy',
  'John Carter',
  'Action Jackson',
  'Cowboys & Aliens',
  'The A-Team',
  'Real Steel',
  'Alita: Battle Angel',
  'Scott Pilgrim vs. the World',
  'Shazam!',
  'Puss in Boots',
  'Wonder Woman',
  'The Equalizer',
  'Captain America: The First Avenger',
  'Tower Heist',
  'The Mechanic',
  'Prince of Persia: The Sands of Time',
  'Unstoppable',
  'Ant-Man',
  'Season of the Witch',
  'The Losers',
  'The Croods',
  'Red Tails',
  'Man of Steel',
  'Jack Reacher',
  'R.I.P.D.',
  tt0800320    Clash of the Titans
  tt0800320    Clash of the Titans
  Name: movie_name, dtype: object,
  tt0800320    Clash of the Titans
  tt0800320    Clash of the Titans
  Name: movie_name, dtype: object,
  'Thor',
  'Warcraft',
  tt0816462    Conan the Barbarian
  tt0816462    Conan the Barbarian
  Name: movie_name, dtype: object,
  tt0816462    Conan the Barbarian
  tt0816462    Conan the Barbarian
  Name: movie_name, dtype: object,
  'World War Z',
  'Priest',
  'Dracula Untold',
  tt0831387    Godzilla
  tt0831387    Godzilla
  Name: movie_name, dtype: object,
  tt0831387    Godzilla
  tt0831387    Godzilla
  Name: movie_name, dtype: object,
  tt0848228    The Avengers
  tt0848228    The Avengers
  Name: movie_name, dtype: object,
  tt0848228    The Avengers
  tt0848228    The Avengers
  Name: movie_name, dtype: object,
  'The Sweeney',
  'Evangelion: 3.0 You Can (Not) Redo',
  'Red State',
  tt0882977    Snitch
  tt0882977    Snitch
  Name: movie_name, dtype: object,
  tt0882977    Snitch
  tt0882977    Snitch
  Name: movie_name, dtype: object,
  'How to Train Your Dragon',
  'The Whistleblower',
  'The Legend of Tarzan',
  'The Last Airbender',
  'Salt',
  'Source Code',
  'Green Zone',
  'The Amazing Spider-Man',
  tt0955308    Robin Hood
  tt0955308    Robin Hood
  Name: movie_name, dtype: object,
  tt0955308    Robin Hood
  tt0955308    Robin Hood
  Name: movie_name, dtype: object,
  "The Sorcerer's Apprentice",
  'Justice League',
  'Sucker Punch',
  'The Adventures of Tintin',
  'Machete',
  'The Green Hornet',
  'Hanna',
  'Straw Dogs',
  'Megamind',
  'Nemesis',
  'The Little Prince',
  'Knight and Day',
  'Dylan Dog: Dead of Night',
  'Centurion',
  'Krrish 3',
  'Hit & Run',
  "Father's Day",
  "The Warrior's Way",
  'The Hunted',
  'Geroy',
  'Iron Sky',
  'The Eagle',
  'The Book of Eli',
  'Legion',
  'Hero',
  'The Bounty Hunter',
  'The Nutcracker in 3D',
  'The Legend of Hercules',
  'Bound',
  'Safe House',
  'Repo Men',
  'Ghost Rider: Spirit of Vengeance',
  'Skyfall',
  'Jonah Hex',
  'Lone Survivor',
  'The Darkest Hour',
  'Killers',
  'Jackass 3D',
  'Seventh Son',
  'Free State of Jones',
  'Green Lantern',
  'Akira',
  'Takers',
  'Death Wish',
  tt1155076    The Karate Kid
  tt1155076    The Karate Kid
  Name: movie_name, dtype: object,
  tt1155076    The Karate Kid
  tt1155076    The Karate Kid
  Name: movie_name, dtype: object,
  '22 Bullets',
  'From Paris with Love',
  'Black Death',
  'Jai Ho',
  'The Bourne Legacy',
  'Kites',
  'Jack Ryan: Shadow Recruit',
  'The Lone Ranger',
  'Doctor Strange',
  'Escape Plan',
  "The World's End",
  'Seeking Justice',
  "Legend of the Guardians: The Owls of Ga'Hoole",
  'Ghost in the Shell',
  'Resident Evil: Afterlife',
  'Iron Man 2',
  'Mission: Impossible - Ghost Protocol',
  'Collide',
  '21 Jump Street',
  'Ironclad',
  'Red Dawn',
  tt1234721    RoboCop
  tt1234721    RoboCop
  Name: movie_name, dtype: object,
  tt1234721    RoboCop
  tt1234721    RoboCop
  Name: movie_name, dtype: object,
  'Wild Target',
  'Bellflower',
  'The Tourist',
  'Kick-Ass',
  'Salvation Boulevard',
  '300: Rise of an Empire',
  'Immortals',
  'The Man with the Iron Fists',
  'Den of Thieves',
  tt1267297    Hercules
  tt1267297    Hercules
  Name: movie_name, dtype: object,
  tt1267297    Hercules
  tt1267297    Hercules
  Name: movie_name, dtype: object,
  tt1270797    Venom
  tt1270797    Venom
  Name: movie_name, dtype: object,
  tt1270797    Venom
  tt1270797    Venom
  Name: movie_name, dtype: object,
  'X-Men: First Class',
  '2 Guns',
  'The Spy Next Door',
  'Looper',
  'Don 2',
  'Cats & Dogs: The Revenge of Kitty Galore',
  tt1289401    Ghostbusters
  tt1289401    Ghostbusters
  Name: movie_name, dtype: object,
  tt1289401    Ghostbusters
  tt1289401    Ghostbusters
  Name: movie_name, dtype: object,
  tt1291150    Teenage Mutant Ninja Turtles
  tt1291150    Teenage Mutant Ninja Turtles
  Name: movie_name, dtype: object,
  tt1291150    Teenage Mutant Ninja Turtles
  tt1291150    Teenage Mutant Ninja Turtles
  Name: movie_name, dtype: object,
  'xXx: Return of Xander Cage',
  'The Watch',
  'Pirates of the Caribbean: On Stranger Tides',
  'Iron Man 3',
  'Kung Fu Panda 2',
  'The Happytime Murders',
  'Bullet to the Head',
  'Rise of the Planet of the Apes',
  'The Expendables',
  'Oldboy',
  'The Lovers',
  'Gangster Squad',
  "King of Devil's Island",
  'Raavan',
  '47 Ronin',
  'Dredd',
  'The Dark Knight Rises',
  'Tomb Raider',
  'The Cold Light of Day',
  'Cloud Atlas',
  'Pride and Prejudice and Zombies',
  'Inception',
  'Race 2',
  'Gunless',
  'Cop Out',
  'The Other Guys',
  'Suicide Squad',
  tt1386703    Total Recall
  tt1386703    Total Recall
  Name: movie_name, dtype: object,
  tt1386703    Total Recall
  tt1386703    Total Recall
  Name: movie_name, dtype: object,
  'In the Heart of the Sea',
  'The Hunger Games',
  'Mad Max: Fury Road',
  'Agent Vinod',
  'Taken 2',
  'Journey 2: The Mysterious Island',
  'Transformers: Dark of the Moon',
  tt1401152    Unknown
  tt1401152    Unknown
  Name: movie_name, dtype: object,
  tt1401152    Unknown
  tt1401152    Unknown
  Name: movie_name, dtype: object,
  'Wolves',
  'Twelve',
  'Star Trek Into Darkness',
  'Ride Along',
  'Men in Black 3',
  'Riddick',
  '12 Strong',
  'Golden Slumber',
  'Tracker',
  'I, Frankenstein',
  'Predators',
  'Hansel & Gretel: Witch Hunters',
  'The Wolverine',
  'Brick Mansions',
  'Deadpool',
  'No Problem',
  'Faster',
  'Sleeper',
  '13 Assassins',
  'Bait',
  'Battleship',
  '14 Blades',
  'Rise of the Guardians',
  'Killer Elite',
  'Legend of the Fist: The Return of Chen Zhen',
  'The Next Three Days',
  'Reign of Assassins',
  'The Grandmaster',
  'Big Mommas: Like Father, Like Son',
  'I Am Number Four',
  'Baywatch',
  'MacGruber',
  'Max Steel',
  'Aquaman',
  'Attack the Block',
  'Killing Season',
  'Oblivion',
  '5 Days of War',
  'Central Intelligence',
  'The Lego Movie',
  'Underworld Awakening',
  'Drive Angry',
  tt1502712    Fantastic Four
  tt1502712    Fantastic Four
  Name: movie_name, dtype: object,
  tt1502712    Fantastic Four
  tt1502712    Fantastic Four
  Name: movie_name, dtype: object,
  'Haywire',
  'Dark Tide',
  'The Three Musketeers',
  'Super',
  'Sherlock Holmes: A Game of Shadows',
  'The Host',
  'Contraband',
  'Exodus: Gods and Kings',
  'Let the Bullets Fly',
  'Shaolin',
  'Elysium',
  'The Son of No One',
  'The Mortal Instruments: City of Bones',
  'Point Blank',
  'Premium Rush',
  'The Last Stand',
  'Elite Squad: The Enemy Within',
  'Golmaal 3',
  'Skyline',
  'Man on a Ledge',
  'Mortal Engines',
  'Kedi',
  'G.I. Joe: Retaliation',
  'Machine Gun Preacher',
  'Maleficent',
  'I Saw the Devil',
  'The Commuter',
  'Act of Valor',
  'Lockout',
  'Fast Five',
  'This Means War',
  'Contagion',
  'One for the Money',
  'Safe House',
  'The Princess of Montpensier',
  'Abduction',
  'The Grey',
  'A Good Day to Die Hard',
  'Abraham Lincoln: Vampire Hunter',
  'Headhunters',
  'The Foreigner',
  'Monster',
  'Jupiter Ascending',
  'Dum Maaro Dum',
  'The Last Witch Hunter',
  '30 Minutes or Less',
  'Independence Day: Resurgence',
  'Blackthorn',
  'Edge of Tomorrow',
  'Johnny English Reborn',
  'Violet & Daisy',
  'In Time',
  'Hobo with a Shotgun',
  'Skin Trade',
  'All or Nothing',
  'How to Train Your Dragon 2',
  'The Double',
  'Wrath of the Titans',
  'Wolf',
  'Here Comes the Boom',
  'The Dark Tower',
  'Kick-Ass 2',
  'Stolen',
  'Safe',
  'Colombiana',
  'Universal Soldier: Day of Reckoning',
  'The Revenant',
  'Pacific Rim',
  'Middle Men',
  'Pixels',
  'Ready Player One',
  'Soldiers of Fortune',
  'Sleepless Night',
  'Welcome to the Punch',
  'Flying Swords of Dragon Gate',
  'Vampire Academy',
  'Tezz',
  'Snowpiercer',
  'Ready',
  'Alex Cross',
  'Beyond Outrage',
  "Father's Day",
  'Control',
  'Scouts Guide to the Zombie Apocalypse',
  'Bol Bachchan',
  'Bodyguard',
  "Ender's Game",
  'Barely Lethal',
  'Snow White and the Huntsman',
  'Wanted',
  'Payback',
  'Sabotage',
  'Blood Ties',
  'Hell and Back Again',
  'The Collection',
  'The Last Shot',
  'The Day',
  'Jackie',
  'The Expendables 2',
  '1911',
  'Yamla Pagla Deewana',
  'The Snitch Cartel',
  'Hands of Stone',
  'No Escape',
  'Pirates of the Caribbean: Dead Men Tell No Tales',
  'The Maze Runner',
  'Weekend',
  'Jackpot',
  'After Earth',
  'Traffic',
  'RED 2',
  'Chappie',
  'Black Panther',
  'Hostel',
  'Rascals',
  'The Last King',
  'Wanted',
  'Dhoom 3',
  'Gone',
  'Juan of the Dead',
  'Divergent',
  'Captain America: The Winter Soldier',
  'Inescapable',
  'Hunter Killer',
  'Trash',
  'The Guillotines',
  'Crossroads',
  'Agneepath',
  "You're Next",
  'End of Watch',
  'Resident Evil: Retribution',
  'Phantom Boy',
  'The Sorcerer and the White Snake',
  'Deepwater Horizon',
  'Detention of the Dead',
  'The Amazing Spider-Man 2',
  'Into the White',
  'X-Men: Days of Future Past',
  'Choke',
  'Redemption',
  'The Raid: Redemption',
  'Parker',
  'Fast & Furious 6',
  'Hardflip',
  'Frontera',
  'Murder 2',
  'Pompeii',
  'Open Road',
  'The Protector 2',
  'Delhi Belly',
  'Overdrive',
  'On the Other Side of the Tracks',
  'Red Sky',
  'Singham',
  'The Hunger Games: Catching Fire',
  'The Hunger Games: Mockingjay - Part 1',
  'The Hunger Games: Mockingjay - Part 2',
  'Noah',
  "The Hitman's Bodyguard",
  'American Assassin',
  'Tomorrowland',
  'Destiny',
  'King Arthur: Legend of the Sword',
  'Rush',
  'Crossroads',
  'Pain & Gain',
  'Housefull 2',
  'Tai Chi Zero',
  'The Young and Prodigious T.S. Spivet',
  'Thor: The Dark World',
  'Geostorm',
  'Moby Dick',
  'The Angry Birds Movie',
  'Storage 24',
  'Force',
  'Machete Kills',
  'No Good Deed',
  'Rush',
  'Guardians of the Galaxy',
  'Ek Tha Tiger',
  'Man of Tai Chi',
  'All Is Lost',
  'Journey to the West',
  'The Kick',
  'Non-Stop',
  'Blind',
  'War of the Arrows',
  'The Finest Hours',
  'USS Indianapolis: Men of Courage',
  'The Great Wall',
  'Night Moves',
  'Muran',
  tt2058673    Point Break
  tt2058673    Point Break
  Name: movie_name, dtype: object,
  tt2058673    Point Break
  tt2058673    Point Break
  Name: movie_name, dtype: object,
  'The Viral Factor',
  'Maniac',
  'Attack on Titan: Part 1',
  'Sleepless',
  'Rowdy Rathore',
  'Big Game',
  'Captain Underpants: The First Epic Movie',
  'Mr. Right',
  'Criminal',
  "Assassin's Creed",
  'Hit and Run',
  'Bodyguard',
  'Dead Man Down',
  'My Lucky Star',
  'Dawn of the Planet of the Apes',
  'Into the Storm',
  'Transformers: Age of Extinction',
  'Chennai Express',
  'Dabangg 2',
  'Swelter',
  'Special ID',
  'Pixels',
  'Collide',
  'San Andreas',
  'The Foreigner',
  'Jane Got a Gun',
  'The Accountant',
  'Black November',
  'Drug War',
  'Khiladi 786',
  'Getaway',
  '3 Days to Kill',
  'Son of Sardaar',
  'American Sniper',
  'Run All Night',
  'Transcendence',
  'The Mountain Between Us',
  'Wild Card',
  'Rampage',
  'Valerian and the City of a Thousand Planets',
  'The Color Purple',
  'Big Hero 6',
  'Born to Fly: Elizabeth Streb vs. Gravity',
  'Spider-Man: Homecoming',
  'Hitman',
  'Ride Along',
  'Dragon Ball Z: Battle of Gods',
  'The Raid 2',
  'Kung Fu Panda 3',
  tt2274648    Hellboy
  tt2274648    Hellboy
  Name: movie_name, dtype: object,
  tt2274648    Hellboy
  tt2274648    Hellboy
  Name: movie_name, dtype: object,
  'Men in Black: International',
  'Jumanji: Welcome to the Jungle',
  'Chakravyuh',
  '22 Jump Street',
  'Falcon Rising',
  'Tai Chi Hero',
  'Shootout at Wadala',
  'Olympus Has Fallen',
  'The 5th Wave',
  'Double Trouble',
  'Singham Returns',
  'Homefront',
  'The Hunted',
  'The Thieves',
  'The Expendables 3',
  'Snatched',
  'White House Down',
  'Kochadaiiyaan',
  'Himmatwala',
  'The Rover',
  tt2345759    The Mummy
  tt2345759    The Mummy
  Name: movie_name, dtype: object,
  tt2345759    The Mummy
  tt2345759    The Mummy
  Name: movie_name, dtype: object,
  'Unforgiven',
  'The Daughter',
  'Stealth',
  'Stone',
  'The Berlin File',
  'Live by Night',
  'Ragnarok',
  tt2363363    Robin Hood
  tt2363363    Robin Hood
  Name: movie_name, dtype: object,
  tt2363363    Robin Hood
  tt2363363    Robin Hood
  Name: movie_name, dtype: object,
  'Mugamoodi',
  'Need for Speed',
  'R... Rajkumar',
  'Kick',
  'Spectre',
  'Mission: Impossible - Rogue Nation',
  "The Huntsman: Winter's War",
  'Assassins',
  'Captive',
  'How to Train Your Dragon: The Hidden World',
  'Keeping Up with the Joneses',
  'Howl',
  'Kill Me Three Times',
  'Avengers: Age of Ultron',
  'Dark Places',
  'The November Man',
  'Gods of Egypt',
  'The Magnificent Seven',
  'The Heat',
  'Atomic Blonde',
  'Killers',
  'Gabbar is Back',
  'Hero',
  'Go Goa Gone',
  'Black and White',
  'Taken 3',
  tt2467046    Left Behind
  tt2467046    Left Behind
  Name: movie_name, dtype: object,
  tt2467046    Left Behind
  tt2467046    Left Behind
  Name: movie_name, dtype: object,
  'Journey to the West',
  'Ip Man: The Final Fight',
  'Broken Horses',
  "Billy Lynn's Long Halftime Walk",
  'The Gunman',
  'Departure',
  'Star Wars: The Last Jedi',
  'The Strangers',
  'Admiral',
  'The Queen',
  'Plastic',
  'Pacific Rim: Uprising',
  'Besharam',
  'Hell or High Water',
  'Resident Evil: The Final Chapter',
  'Shooter',
  "'71",
  'Baahubali: The Beginning',
  tt2638144    Ben-Hur
  tt2638144    Ben-Hur
  Name: movie_name, dtype: object,
  tt2638144    Ben-Hur
  tt2638144    Ben-Hur
  Name: movie_name, dtype: object,
  'The Hunt',
  'Midnight Special',
  'Commando',
  'Star Trek Beyond',
  'Hitman: Agent 47',
  'Game Night',
  'Fury',
  'Blackhat',
  'Everest',
  'Birth of the Dragon',
  'Main Tera Hero',
  'Iris',
  'Rigor Mortis',
  'Zombeavers',
  'The Pyramid',
  'Kingsman: The Secret Service',
  'Witness',
  'Doomsday',
  'Furious 7',
  'Rangeelay',
  'Extraction',
  'Fists of Legend',
  'Big Fish',
  'Ratchet & Clank',
  'Ride Along 2',
  'Lucy',
  'Red Sparrow',
  'The Collector',
  'Ip Man 3',
  'The Rooftop',
  'Bang Bang',
  'John Wick',
  'American Heist',
  'Higher Power',
  'The Connection',
  'The Transporter Refueled',
  'The Rundown',
  'Hot Pursuit',
  'The Purge: Anarchy',
  'Batman v Superman: Dawn of Justice',
  'Bombay Velvet',
  'Young Detective Dee: Rise of the Sea Dragon',
  'Guardian Angel',
  'Mary Kom',
  'Joker',
  'The Lego Ninjago Movie',
  'Criminal',
  tt3042592    Brothers
  tt3042592    Brothers
  Name: movie_name, dtype: object,
  tt3042592    Brothers
  tt3042592    Brothers
  Name: movie_name, dtype: object,
  'Mortdecai',
  'Memories of the Sword',
  'Dragonfly',
  'Inferno',
  'Hardcore Henry',
  'Spy',
  'Rocky',
  'Monster Trucks',
  'The Hammer',
  'The Masked Saint',
  'The Hunt',
  'Payback',
  'Now You See Me 2',
  'Bad Company',
  'Unsullied',
  'Heropanti',
  'Commitment',
  'Hide and Seek',
  'Welcome Back',
  'Ek Villain',
  'I Am Wrath',
  'Risen',
  'Survivor',
  'Captive',
  tt3276924    Heist
  tt3276924    Heist
  Name: movie_name, dtype: object,
  tt3276924    Heist
  tt3276924    Heist
  Name: movie_name, dtype: object,
  'Survivor',
  'London Has Fallen',
  'Extraction',
  'Trespass Against Us',
  'Logan',
  'American Ultra',
  'Firestorm',
  'Compadres',
  'Transformers: The Last Knight',
  'The Brothers Grimsby',
  'X-Men: Apocalypse',
  'Haider',
  'Jack Reacher: Never Go Back',
  'Sicario',
  'Tevar',
  'The Dead Lands',
  'The Divine Move',
  'Paul Blart: Mall Cop 2',
  'War for the Planet of the Apes',
  'Phantom',
  'Z Storm',
  tt3474788    The Gift
  tt3474788    The Gift
  Name: movie_name, dtype: object,
  tt3474788    The Gift
  tt3474788    The Gift
  Name: movie_name, dtype: object,
  'Vice',
  'Pirates',
  'Fan',
  'Captain America: Civil War',
  'Thor: Ragnarok',
  'The Assassin',
  'That Demon Within',
  '12 Rounds',
  'Mechanic: Resurrection',
  'Nerve',
  'American Made',
  'Empire of Lust',
  tt3555036    Legend
  tt3555036    Legend
  Name: movie_name, dtype: object,
  tt3555036    Legend
  tt3555036    Legend
  Name: movie_name, dtype: object,
  'Neruda',
  'Bilal: A New Breed of Hero',
  'Monster',
  'Incredibles 2',
  'Freedom',
  'The Wave',
  'Creature',
  'Allied',
  'Dragon Blade',
  'Dishoom',
  'No Tears for the Dead',
  'The Void',
  'Underworld: Blood Wars',
  'Power Rangers',
  'Gringo',
  'Kong: Skull Island',
  'Bajirao Mastani',
  'Godzilla: King of the Monsters',
  'Rogue One: A Star Wars Story',
  'The Equalizer 2',
  'Solo: A Star Wars Story',
  'Monster Hunt',
  'The Nice Guys',
  'Wild City',
  tt3802576    Brothers
  tt3802576    Brothers
  Name: movie_name, dtype: object,
  tt3802576    Brothers
  tt3802576    Brothers
  Name: movie_name, dtype: object,
  "Dragon Ball Z: Resurrection 'F'",
  'The Predator',
  'Only the Brave',
  'Yoga Hosers',
  'Mr. X',
  'Mohenjo Daro',
  'Bajrangi Bhaijaan',
  'Lazer Team',
  'Blood Ties',
  'Baby Driver',
  'Guardians of the Galaxy Vol. 2',
  'Gun Shy',
  'Teenage Mutant Ninja Turtles: Out of the Shadows',
  'The Taking of Tiger Mountain',
  'Maze Runner: The Scorch Trials',
  "Fate/Stay Night: Heaven's Feel - I. Presage Flower",
  'The Darkest Minds',
  'The Purge: Election Year',
  'City of Gold',
  'The Lego Batman Movie',
  'Keanu',
  'Mental',
  'Captain Marvel',
  'Avengers: Infinity War',
  'Free Fire',
  'Snow Day',
  'Force',
  'Jason Bourne',
  'Kung Fu Yoga',
  'The Wall',
  'Lost in Hong Kong',
  'Shin Godzilla',
  'The Boy and the Beast',
  'The Master',
  'Kubo and the Two Strings',
  'Ghost in the Shell: The New Movie',
  'Three',
  'Extraction',
  'Tag',
  tt4463894    Shaft
  tt4463894    Shaft
  Name: movie_name, dtype: object,
  tt4463894    Shaft
  tt4463894    Shaft
  Name: movie_name, dtype: object,
  'Hero',
  'The Calling',
  'Detective K: Secret of the Lost Island',
  'Morgan',
  'Overlord',
  tt4532826    Robin Hood
  tt4532826    Robin Hood
  Name: movie_name, dtype: object,
  tt4532826    Robin Hood
  tt4532826    Robin Hood
  Name: movie_name, dtype: object,
  'Dilwale',
  'Housefull 3',
  'Mile 22',
  'Patriots Day',
  'Sleight',
  'Boruto: Naruto the Movie',
  'The Fate of the Furious',
  'Kingsman: The Golden Circle',
  'Loving Pablo',
  'Lion',
  'Railroad Tigers',
  'Bumblebee',
  'Mr. Six',
  'Red Dog',
  'American Hero',
  'The Last King',
  'Air Strike',
  'Veteran',
  'The Meg',
  'Saving Mr. Wu',
  'The Missing',
  'Sultan',
  'Baahubali 2: The Conclusion',
  'Batman: The Killing Joke',
  'Baaghi',
  'Jurassic World: Fallen Kingdom',
  'Mission: Impossible - Fallout',
  'The Age of Shadows',
  'Heneral Luna',
  'Virus',
  'Dunkirk',
  'Rock Star',
  "Charlie's Angels",
  'The Phone',
  'Sicario: Day of the Soldado',
  'Kabali',
  'Dangal',
  'Blade of the Immortal',
  'A Melody to Remember',
  'Ant-Man and the Wasp',
  tt5112932    Heist
  tt5112932    Heist
  Name: movie_name, dtype: object,
  tt5112932    Heist
  tt5112932    Heist
  Name: movie_name, dtype: object,
  'Sleeper',
  'One Piece Film: Gold',
  'Sword Master',
  'The Duelist',
  'Holly',
  'Simon',
  'Paparazzi',
  'Valentine',
  'Saala Khadoos',
  'The Hurricane Heist',
  'Judwaa 2',
  'Bodyguard',
  'Deadpool 2',
  'Naam Hai Akira',
  '7 Days in Entebbe',
  'League of Gods',
  'Panic Room',
  'Sword Art Online: The Movie - Ordinal Scale',
  'Turbulence',
  'The Guardian',
  'Confidential Assignment',
  'A Gentleman',

In [9]:
action = pd.DataFrame(fun.getGenreInfo('Action', df2))

In [40]:
action.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 6 columns):
Title                935 non-null object
Genre                935 non-null object
Domestic Gross       935 non-null object
Foreign Gross        935 non-null object
Worldwide Gross      935 non-null object
Production Budget    935 non-null object
dtypes: object(6)
memory usage: 44.0+ KB

In [10]:
action.head()

,Title,Genre,Domestic Gross,Foreign Gross,Worldwide Gross,Production Budget
0,Foodfight!,Action,0,73706,73706,4.5e+07
1,Mortal Kombat,Action,7.04332e+07,5.17e+07,1.22133e+08,2e+07
2,Wazir,Action,1.1e+06,0,1.1e+06,0
3,A Walk Among the Tombstones,Action,2.63e+07,2.69e+07,6.21086e+07,2.8e+07
4,Jurassic World,Action,6.523e+08,1019.4,1.64885e+09,2.15e+08

In [12]:
reload(fun)

In [14]:
fun.toConcat(df2)

NameError: name 'genreList' is not defined